@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --mainfont:"Open Sans", sans-serif;
    --maincolor:#ff206e;
}
body{
    font-family: var(--mainfont);
}
.header .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
color: var(--maincolor);

}
.header .nav-link{
    color: white;
}
.header .navbar-brand{
    color: white;
}
.header .nav-link:hover{
    color: var(--maincolor);
}
.hero{
    background-image: url(../assets/image/public/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero a{
    color:var(--maincolor);
}
.about{
background-image: url(../assets/image/about/imageye___-_imgi_23_light_dot.jpg);
}
.text__maincolor{
    color: var(--maincolor);
}
.portfolio .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--maincolor);
}
.portfolio .nav-link{
    color: black;
}
.portfolio .nav-link{
    border: none;
}
.portfolio .nav-tabs{
    border: none;
}




.Testimonials img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  position: absolute;
  top: -50px;
  left: 46%;
 
}
.Testimonials .step{
    
    background-color: black;
}

.carousel-indicators [data-bs-target]{
    background-color:#666;
     width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 15px;
    
}
.carousel-indicators .active{
    background-color: black;
}

.carousel{
    border: #f4f4f4 solid 2px;
   overflow: visible ; 
}

 .carousel-item{
overflow: visible;
}

.item{
    overflow: visible;
}
.title{
    margin-bottom: 100px;
}