@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --mainfont:"Open Sans", sans-serif;
    --maincolor:#ff206e;
}
body{
    font-family: var(--mainfont);
}
.header .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
color: var(--maincolor);

}
.header .nav-link{
    color: white;
}
.header .navbar-brand{
    color: white;
}
.header .nav-link:hover{
    color: var(--maincolor);
}
.hero{
    background-image: url(../assets/image/public/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero a{
    color:var(--maincolor);
}
.about{
background-image: url(../assets/image/about/imageye___-_imgi_23_light_dot.jpg);
}
.text__maincolor{
    color: var(--maincolor);
}